---
layout: default
---


<section class="w-100 mw8 ph4-l ph3 center">

  <div class="w-100 mt2">
      <img class="w-100" src="assets/teaser-01.png" alt="Teaser image">
  </div>

  <div class="w-100 mt2">
    <h2 class="f3 ur-blue">Research</h2>

    <p class="f5 lh-copy">
      Welcome to the <span class="b">BEAR Lab</span> at the <a href="https://www.cs.rochester.edu/" class="black b underline-dot hover-cmu-red link">Department of Computer Science,</a> <a href="https://www.rochester.edu/" class="black b underline-dot hover-cmu-red link">University of Rochester</a> .
      <br/><br/>

      BEAR stands for Behavioral Enhancement and Adaptive Reality (or Be Enthusiastic About Research :D).
      We focuse on understanding, predicting and enhancing user behavior in Mixed Reality (MR) interaction. We capture the user’s behavioral and perceptual patterns with computational methods; develop input techniques and adaptive user interfaces to facilitate human-computer two-way communication; explore unique behavioral enhancements enabled by MR.

      <br/><br/>
      BEAR lab is headed by <a href="{{ '/team' | relative_url }}"" class="black b underline-dot hover-cmu-red link">Prof. Yukang Yan</a>.
      If you want to <a href="{{ '/team' | relative_url }}" class="black underline-dot hover-cmu-red link b" >work with us</a>, please check out our <a href="{{ '/team' | relative_url }}" class="black b underline-dot hover-cmu-red link" >Team page</a>.

    </p>
  </div>

  <div class="mt2">
    <h2 class="f3 ur-blue">Selected Publications</h2>
    <a class="cta" href="/publications">Show all publications</a>

    <div class="mv3">
      {% assign selected_pubs = site.publications | where: "selected", true %}

      {% assign pubyears = selected_pubs | group_by:"year" %}
      {% assign sorted_pubyears = pubyears | reverse %}

      {% for year in sorted_pubyears %}
      {% assign sorted_months = year.items | sort : 'month' | reverse %}

      {% for pub in sorted_months %}
      <div class="mv4-ns flex flex-row-ns flex-column">
        {% assign thumb = 'assets' | append: pub.url | replace: '.html',
        '_thumb.png' %}

        <div class="h3 mv3 mr3-ns mb2 mb0-ns flex-shrink-0 preview-image ba b--black-05 db"
        style="background-image: url('{{ thumb | relative_url }}')">

          {% if pub.video-thumb %}
          <iframe width="400" height="240" class="thumb-video"
            src="https://www.youtube.com/embed/{{ pub.video-thumb}}?iv_load_policy=3&modestbranding=1&rel=0&autohide=1&playsinline=1&controls=1&showinfo=0&autoplay=0&loop=0&mute=1"
            frameborder="0" allowfullscreen>
          </iframe>
          {% endif %}
        </div>

        <div class="measure-wide mv3 min-width-front">

          <div class="mb2">
          <h3 class="mt0">
            {% if pub.coming-soon %}
              {{ pub.title }}
            {% else %}
              <a href="{{ pub.url }}" class="b link black hover-cmu-red mb3"
              >{{ pub.title }}</a>
            {% endif %}
          </h3>
          </div>

          <div class="mb2">
            {% for author in pub.authors %}{{ author }}{%
            unless forloop.last %}, {% endunless %}{% endfor %}.</div>

          <span class="b">{{ pub.venue }} {{ pub.year }}</span>

          {% if pub.coming-soon %}
          <div class="mt3">
          <i>More infos coming soon.</i>
          </div>
          {% else %}
          <div class="mt3">
            <a href="{{ pub.url }}" class="cta">Show details</a>
          </div>
          {% endif %}

        </div>
      </div>
      {% endfor %}
      {% endfor %}
    </div>

    <a class="cta" href="/publications">Show all publications</a>

  </div>

</section>
