---
layout: page
title: Publications
subtitle: We publish at premier venues in Human-Computer Interaction, such as ACM CHI or ACM UIST.
---

<!-- <div id="facets" class="dn flex flex-row flex-wrap">
  <div class="facet mr3" id="venue_tags">
    <strong>Venue</strong>
    <ul class="list pl0"></ul>
  </div>
  <div class="facet mr3" id="authors">
    <strong>Author</strong>
    <ul class="list pl0"></ul>
  </div>
  <div class="facet mr3" id="tags">
    <strong>Tag</strong>
    <ul class="list pl0"></ul>
  </div>
  <div class="facet mr3" id="type">
    <strong>Type</strong>
    <ul class="list pl0"></ul>
  </div>
  <div class="facet mr3" id="awards">
    <strong>Award</strong>
    <ul class="list pl0"></ul>
  </div>

</div>

<label id="only-highlight" class="dn">
  <input type="checkbox" id="highlight">
  Show only highlights
</label>

<p id="clear-filters" class="dn b pointer">
  <i class="fas fa-times-circle cmu-red" aria-hidden="true"></i> Clear all filters. <span id="count_hidden">X</span> of
  <span id="count_total">X</span> publications are hidden by the filters.
</p> -->

  <!-- <p >
    We publish at premier venues in Human-Computer Interaction, such as ACM CHI or ACM UIST.
  </p> -->


<article>
  {% assign pubyears = site.publications | where: "hidden", "false" | group_by:"year" %}
  {% assign sorted_pubyears = pubyears | reverse %}

  {% for year in sorted_pubyears %}
    <h2 class="year f3 ur-blue" id="y{{ year.name }}">{{ year.name }}</h2>
    {% assign sorted_months = year.items | sort : 'month' | reverse %}

    {% for pub in sorted_months %}
      {% capture anchor %}{% if pub.id %}{{ pub.id }}{% else %}{{ pub.title | slugify }}{% endif %}{% endcapture %}

      <div class="publication flex mt3" data-pub='{{ pub | jsonify | escape }}'>
            {% assign thumb = 'assets' | append: pub.url | replace: '.html', '_thumb.png' %}

              <div class="h3 mv3 mr3-ns mb2 pa0 mb0-ns flex-shrink-0 preview-image ba b--black-05 dn db-ns "
              style="background-image: url('{{ thumb | relative_url }}')">

              {% if pub.video-thumb %}
              <iframe width="100%" height="100%" class="thumb-video"
                src="https://www.youtube.com/embed/{{ pub.video-thumb}}?iv_load_policy=3&modestbranding=1&rel=0&autohide=1&playsinline=1&controls=1&showinfo=0&autoplay=0&loop=0&mute=1"
                frameborder="0" allowfullscreen></iframe>
              {% endif %}

              </div>

            <div class="measure-wide mv3 min-width-front">
              <h3 class="mt0 f4 measure-wide mb2" id="{{ anchor }}">{% for award in pub.awards %}<i
                  class="fas fa-{% if award == "Best Paper Award" %}trophy gold{% else %}award cmu-red{% endif %}"
                  title="{{ award }}"></i> {% endfor %}

                  {% if pub.coming-soon %}
                    {{ pub.title }}
                  {% else %}                  
                    {% if pub.external %}
                    <a href="{{ pub.blog }}" class="black hover-cmu-red link">{{ pub.title }}</a>
                    {% else %}
                    <a href="{{ pub.url }}" class="black hover-cmu-red link">{{ pub.title }}</a>
                    {% endif %}
                  {% endif %}
              </h3>

              <div class="mb2">
                {% for author in pub.authors %}
                  {% include person name=author %}{% unless forloop.last %}, {% endunless %}{% endfor %}.
              </div>


              <div class="mt3">
              Published at
                <span class="b">
                {% if pub.venue_url %}
                <a href="{{ page.venue_url }}" class="black underline-dot hover-cmu-red link">
                {% endif %}
                {{ pub.venue }}
                {{ pub.year }}
                {% if pub.venue_url %}</a>{% endif %}
                </span>
              </div>

              {% if pub.description %}
              <p class="lh-copy mv1">
                {{ pub.description | markdownify | remove: '<p>' | remove: '</p>' }}
              </p>
              {% endif %}

              {% if pub.tweet %}
              <div class="mv1 measure-wide">
                <a href="https://twitter.com/intent/tweet?text={{ pub.tweet }}&url={{ site.production_url }}/publications/%23{{ anchor }}&via=cmudig&related=cmudig"
                  class="cmu-dark-gray f6">
                  <i class="fab fa-twitter"></i> <span class="i">{{ pub.tweet }}</span>
                </a>
              </div>
              {% endif %}

              {% if pub.awards %}
              <div class="cmu-red mv1 b">
                {% for award in pub.awards %}{{ award }}{% unless forloop.last %}, {% endunless %}
                {% endfor %}
              </div>
              {% endif %}

              <div class="mt2 mb1">
                {% if pub.coming-soon %}
                  <div class="mt3"><i>More infos coming soon.</i></div>
                {% else %}                  
                  {% if pub.external %}
                  <a href="{{ pub.blog }}" class="mr3 dib">
                    <span class="cta">Show Details</span>
                  </a>
                  {% else %}
                  <a href="{{ pub.url }}" class="mr3 dib">
                    <span class="cta">Show Details</span>
                  </a>
                  {% endif %}
                {% endif %}

                {% if pub.pdf %}
                <a href="{{ pub.pdf }}" class="black link underline-dot hover-cmu-red mr3 dib">PDF</a>
                {% endif %}

                {% if pub.doi %}
                <a href="https://doi.org/{{ pub.doi }}" class="black link underline-dot hover-cmu-red mr3 dib">
                  DOI
                </a>
                {% endif %}

                {% if pub.blog %}
                <a href="{{ pub.blog }}" class="black link underline-dot hover-cmu-red mr3 dib">
                  Blog
                </a>
                {% endif %}

                {% if pub.video-suppl %}
                <a href="https://www.youtube.com/watch?v={{ pub.video-suppl }}" class="black link underline-dot hover-cmu-red mr3 dib">
                  Full video
                </a>
                {% endif %}

                <!--
                {% if pub.slides %}
                <a href="{{ pub.slides }}" class="black link hover-cmu-red mr3 dib">
                  <i class="fas fa-window-maximize f6" aria-hidden="true"></i> Slides
                </a>
                {% endif %} -->

                {% if pub.bibtex %}
                <label for="slide_{{ pub.title | slugify }}" class="accordion__item-label db pv3 link black hover-cmu-red mr3 dib"> Bibtex</label>
                <div class="accordion__item">
                  <input type="checkbox" class="dn" name="slides" id="slide_{{ pub.title | slugify }}">
                  <div class="accordion__content bb b--black-20 f6">
                    <pre>{{ pub.bibtex}}</pre>
                  </div>
                </div>
                {% endif %}

                <!--
                {% if pub.short_doi %}
                <a href="http://doi.org/{{ pub.short_doi }}" class="black link hover-cmu-red mr3 dib">
                  <i class="fas fa-anchor f6" aria-hidden="true"></i> DOI: {{ pub.short_doi }}
                </a>
                {% endif %}

                {% if pub.arxiv %}
                <a href="https://arxiv.org/abs/{{ pub.arxiv }}" class="black link hover-cmu-red mr3 dib">
                  <i class="fas fa-archive f6" aria-hidden="true"></i> arXiv: {{ pub.arxiv }}
                </a>
                {% endif %}

                {% if pub.osf %}
                <a href="https://osf.io/{{ pub.osf }}" class="black link hover-cmu-red mr3 dib">
                  <i class="fas fa-archive f6" aria-hidden="true"></i> OSF: {{ pub.osf }}
                </a>
                {% endif %}
                -->
              </div>
            </div>
      </div>
    {% endfor %}
  {% endfor %}
</article>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

<script>
  {% include itemsjs.min.js %}
  {% include pubfilter.js %}
</script>

<script>
  //From https://codepen.io/Anotherdago/pen/yjVxOB
  //Add basic styles for active tabs
    $('.accordion__item-label').on('click', function() {
      $(this).addClass('blue');
      $(this).parent('.accordion__item').siblings().find('.accordion__item-label').removeClass('blue');
    });
</script>
