---
layout: page
title: Team
subtitle: Learn more about who we are.
roles:
  - Assistant Professor
  - Administrative coordinator
  - Postdoc
  - PhD student
  - Visiting student
  - Master's student
  - Undergraduate student
  - Research Intern
  - Collaborator
  - Bear
---

<h2 class="f3 ur-blue">Work with us!</h2>

<p class="f5 lh-copy">
  If you are interested in joining the group, please get in touch by sending an email to <a href="mailto:yukang.yan@rochester.edu" class="underline-dot black link hover-cmu-red">yukang.yan@rochester.edu</a>.
  We are always looking for new team members that bring a diverse set of skills and motivations.
  <br/><br/>
  If you are interested in a PhD position at URCS and in the lab, check out the <a href="https://www.cs.rochester.edu/graduate/phd-program.html" class="underline-dot black link hover-cmu-red">URCS PhD admissions information</a> and <a href="{{ '/recruitment' | relative_url }}" class="black underline-dot hover-cmu-red link" >this note</a>, and reach out before applying.
</p>

<h2 class="f3 ur-blue">Current Members</h2>
<div class="flex flex-wrap">
  {% for role in page.roles %}
    {% for person in site.data.people %}
      {% if person.role == role %}
        {% unless person.alumni_since %}
          <div class="w-35-m w-25-l w-50 ph2 pv2">
            <a href="{{ person.website }}"><span>
                <img src="{{ person.image | relative_url }}" alt="Picture of {{ person.name }}" class="br0" />
                <span class="black mv1">
                  {{ person.name }}
                </span>
              </span>
            </a>
            {% if person.email != blank %}
            <div class="link mv1"><a href="mailto:{{ person.email }}">{{ person.email }}</a></div>
            {% endif %}


            {% if person.note != blank %}
            <div class="gray mv1">{{ person.role }} ({{ person.note }})</div>
            {% else %}
            <div class="gray mv1">{{ person.role }}</div>
            {% endif %}
            <!-- <div class="gray mv1"></div> -->
          </div>
        {% endunless %}
      {% endif %}
    {% endfor %}
  {% endfor %}
</div>

<h2 class="f3 ur-blue">Alumni</h2>

<ul class="list pl0">
  {% assign sorted_alumni = site.data.alumni | sort: 'alumni_since' | reverse %} {%
  assign sorted_alumni = sorted_alumni | sort: 'name' %} {%
  for person in sorted_alumni %} {% if person.alumni_since %}
  <li>
    {% if person.note != blank %}
    <a href="{{ person.website }}" class="black">{{ person.name }}</a><span class="gray">, {{ person.role }} ({{ person.note }})</span>, {{ person.alumni_since }}
    {% else %}
    <a href="{{ person.website }}" class="black">{{ person.name }}</a><span class="gray">, {{ person.role }}</span>, {{ person.alumni_since }}
    {% endif %}
  </li>
  {% endif %} {% endfor %}
</ul>
